<html lang="en">
<head>
    <title>{{title}}</title>
    <style>
        .grid-container {
            display: grid;
            gap: 5px;
            grid-template-columns: auto auto;
            padding: 2px;
        }
        .grid-item {
            padding: 2px;
            text-align: left;
        }
        .grid-item-2 {
            grid-column: span 2;
            padding: 2px;
            text-align: left;
        }
    </style>
</head>
<body>